.App {
  text-align: center;
}

.my-jumbotron{
  padding: 1rem;
  background-color: #e9ecef;
  background-image: url('../public/background-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.submit-button{
  margin-top: 40px;
  display: block;
  width: 100%;
  border-radius: 10px;
}
.mt-30{
  margin-top: 30px !important;
}
.mb-30{
  margin-bottom: 30px !important;
}
.heading-top{
  background-color: #00000082;
  color: beige;
  font-size: 25px;
  text-align: center;
}
.custom-box{
  background: white;
  padding-top: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  border-radius: 15px;
}
.custom-box-img{
  background: white;
  max-height: 415px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}
.logo-img{
  margin: 0 auto;
  display: block;
  width: 120px;
  height: 60px;
}
.school-name{
  margin: 0 auto;
  display: table;
  margin-bottom: 20px;
}
select {
  border-radius: .25rem;
  border: 1px solid #c0b7b7;
  display: block;
  width: -webkit-fill-available;
  background-color: #ffffff;
  cursor: pointer;
  height: 2.5125rem !important;
  margin-top: -0.125rem;
  padding: .5rem;
  -webkit-appearance: none;
  text-indent: .0625rem;
}

select::-ms-expand {
  display: none !important;
}

select:focus { 
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.select-wrapper {
  position: relative;
}